@model ProjZes.Models.LoyaltyValues
@using ProjZes.Common

@{
    ViewBag.Title = Constants.LoyaltyProgram;
}

<h1>@Constants.LoyaltyProgram</h1>

<div>
    <h4>@Constants.CurrentLoyaltyValues</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fuel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lpg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lpg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Washing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Washing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WashingPlusWaxing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashingPlusWaxing)
        </dd>

    </dl>
</div>
<p>
    <button>@Html.ActionLink(Constants.SetLoyaltyValues, "SetValues")</button>
</p>
