@model ProjZes.Models.LoyaltyValues
@using ProjZes.Common

@{
    ViewBag.Title = Constants.LoyaltyProgram + " - " + Constants.SetLoyaltyValues;
}

<h1>@Constants.LoyaltyProgram</h1>
<br />
<h2>@Constants.SetLoyaltyValues</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Fuel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fuel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fuel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lpg, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lpg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lpg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Washing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Washing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Washing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WashingPlusWaxing, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WashingPlusWaxing, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WashingPlusWaxing, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Constants.SetLoyaltyValues class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Constants.BackToPointsView, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
