@{
    ViewBag.Title = "Najlepsza stacja benzynowa";
}

<div id="home-heading-section" class="jumbotron">
    <h1>@ProjZes.Common.Constants.ApplicationName.ToUpper()</h1>
    <p class="lead">
        @ProjZes.Common.Constants.ApplicationName to nie tylko zwykła stacja benzynowa. Oferujemy konkurencyjne ceny,
        a nasi pracownicy dbają o wysoką jakość świadczonych usług oraz zadowolenie każdego z naszych klientów.<br />
        Odwiedź nas już dziś! Obiecujemy, że twój samochód wyjedzie z naszej stacji z wielkim uśmiechem.
    </p>
    <p><a href="@Url.Action("Contact", "Home")" class="btn btn-primary btn-lg">@ProjZes.Common.Constants.ContactUs &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Przystępne ceny</h2>
        <p>
            Czy znasz to uczucie gdy widząc paragon na stacji benzynowej zastanawiasz się czy nie przesiąść się na komunikację miejską?
            Wiemy, że zatłoczone autobusy nie są najprzyjemniejszą formą transportu, dlatego oferujemy nasze paliwo w przystępnych dla Was cenach.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Pricing")">Zobacz aktualny cennik &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Czysty samochód</h2>
        <p>
            Zapraszamy do naszej myjni, która jest dostępna dla Was przez całą dobę.
            Przyjedź do nas i nadaj swojemu wehikułowi powiewu świeżości i wpadającego w oko połysku.
            Możliwość wcześniejszej rezerwacji gwarantuje, że nie będziecie musieli czekać w długiej kolejce.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Booking")">Zarezerwuj teraz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zdobywaj nagrody</h2>
        <p>
            Dzięki naszemu programowi lojalnościowemu masz szansę na darmowe tankowanie. Za każdą transakcję otrzymasz punkty,
            które możesz wymieniać na paliwo lub usługi na myjni.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "LoyaltyPoints")">@ProjZes.Common.Constants.LoyaltyProgram &raquo;</a></p>
    </div>
</div>