@model ProjZes.Models.ViewModels.PricingViewModel

@using ProjZes.Common

@{ 
    ViewBag.Title = Constants.Pricing;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Constants.Pricing</title>
</head>
<body>
    <div>
        <h1>@Constants.FuelPricing</h1>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Fuel.Pb95)</th>
                <th>@Html.DisplayNameFor(model => model.Fuel.Pb98)</th>
                <th>@Html.DisplayNameFor(model => model.Fuel.Diesel)</th>
                <th>@Html.DisplayNameFor(model => model.Fuel.Lpg)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Fuel.Pb95)</td>
                <td>@Html.DisplayFor(model => model.Fuel.Pb98)</td>
                <td>@Html.DisplayFor(model => model.Fuel.Diesel)</td>
                <td>@Html.DisplayFor(model => model.Fuel.Lpg)</td>
            </tr>
        </table>
        <p>
            <button class="btn btn-default">
                @Html.ActionLink(Constants.UpdateFuelPrices, "UpdateFuelPrice")
            </button>
        </p>
    </div>
    <br />
    <br />
    <div>
        <h1>@Constants.CarWashPricing</h1>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.CarWash.Washing)</th>
                <th>@Html.DisplayNameFor(model => model.CarWash.Waxing)</th>
                <th>@Html.DisplayNameFor(model => model.CarWash.WashingAndWaxing)</th>
                <th>@Html.DisplayNameFor(model => model.CarWash.Polishing)</th>
                <th>@Html.DisplayNameFor(model => model.CarWash.WashingAndWaxingAndPolishing)</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.CarWash.Washing)</td>
                <td>@Html.DisplayFor(model => model.CarWash.Waxing)</td>
                <td>@Html.DisplayFor(model => model.CarWash.WashingAndWaxing)</td>
                <td>@Html.DisplayFor(model => model.CarWash.Polishing)</td>
                <td>@Html.DisplayFor(model => model.CarWash.WashingAndWaxingAndPolishing)</td>
            </tr>
        </table>
        <p>
            <button class="btn btn-default">
                @Html.ActionLink(Constants.UpdateCarWashPrices, "UpdateCarWashPrice")
            </button>
        </p>
    </div>
</body>
</html>
