@model ProjZes.Models.ViewModels.PricingViewModel

@using Microsoft.AspNet.Identity

@{ 
    ViewBag.Title = ProjZes.Common.Constants.Pricing;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ProjZes.Common.Constants.Pricing</title>
</head>
<body>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="pricing-heading">@ProjZes.Common.Constants.FuelPricing</h1>
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Fuel.Pb95)</th>
                        <td>@Html.DisplayFor(model => model.Fuel.Pb95)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Fuel.Pb98)</th>
                        <td>@Html.DisplayFor(model => model.Fuel.Pb98)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Fuel.Diesel)</th>
                        <td>@Html.DisplayFor(model => model.Fuel.Diesel)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Fuel.Lpg)</th>
                        <td>@Html.DisplayFor(model => model.Fuel.Lpg)</td>
                    </tr>
                </table>
                @if (User.IsInRole(ProjZes.Common.Constants.ManagerRole))
                {
                    <p class="pricing-button">
                        <button class="btn btn-default">
                            @Html.ActionLink(ProjZes.Common.Constants.UpdateFuelPrices, "UpdateFuelPrice")
                        </button>
                    </p>
                }
            </div>
            <div class="col-md-6 col-sm-12">
                <h1 class="pricing-heading">@ProjZes.Common.Constants.CarWashPricing</h1>
                <table class="table pricing-table">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CarWash.Washing)</th>
                        <td>@Html.DisplayFor(model => model.CarWash.Washing)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CarWash.Waxing)</th>
                        <td>@Html.DisplayFor(model => model.CarWash.Waxing)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CarWash.WashingAndWaxing)</th>
                        <td>@Html.DisplayFor(model => model.CarWash.WashingAndWaxing)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CarWash.Polishing)</th>
                        <td>@Html.DisplayFor(model => model.CarWash.Polishing)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CarWash.WashingAndWaxingAndPolishing)</th>
                        <td>@Html.DisplayFor(model => model.CarWash.WashingAndWaxingAndPolishing)</td>
                    </tr>
                </table>
                @if (User.IsInRole(ProjZes.Common.Constants.ManagerRole))
                {
                    <p class="pricing-button">
                        <button class="btn btn-default">
                            @Html.ActionLink(ProjZes.Common.Constants.UpdateCarWashPrices, "UpdateCarWashPrice")
                        </button>
                    </p>
                }
            </div>            
        </div>
</body>
</html>
